@model IEnumerable<OrderDTO>

@{
    Layout = "~/Views/Shared/_CrudIndex.cshtml";
}

@section indexBody {

    <div id="DashboardContainer" class="panel-main">
        <div class="panel-header">
            <span>
                :: LOGO CINEMARK
            </span>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="container-header">
                    <span>
                        @Resource.LBL_AWAITING
                    </span>
                </div>
                <div id="@AppUtilities.AWAITING_CONTAINER" class="container-body">
                    @await Html.PartialAsync("Ticket", Model.Where(o => o.Process == EOrderProcess.Awaiting).OrderBy(o => o.AwaitingStart.Value).ToList())
                </div>
            </div>
            <div class="container">
                <div class="container-header">
                    <span>
                        @Resource.LBL_PREPARING
                    </span>
                </div>
                <div id="@AppUtilities.PREPARING_CONTAINER" class="container-body">
                    @await Html.PartialAsync("Ticket", Model.Where(o => o.Process == EOrderProcess.Preparing).OrderBy(o => o.PreparingStart.Value).ToList())
                </div>
            </div>
            <div class="container">
                <div class="container-header">
                    <span>
                        @Resource.LBL_READY
                    </span>
                </div>
                <div id="@AppUtilities.READY_CONTAINER" class="container-body">
                    @await Html.PartialAsync("Ticket", Model.Where(o => o.Process == EOrderProcess.Ready).OrderBy(o => o.ReadyStart.Value).ToList())
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //Campinho da publicação WebAPI contendo o HUB.
        SigalRConnection('@AppUtilities.HUB_SERVER_PATH');

        signalRConnection.onclose(async () => {
            await SignalRConnectionStart();
        });

        setInterval(() => {
            let $timers = document.querySelectorAll('.timer');

            $timers.forEach(timer => {
                TimerCalc(timer);
            });

        }, 1000);

        function TimerCalc(timer) {
            console.info(timer.dataset.startdate);
        }

        signalRConnection.on('@AppUtilities.RELOAD_AWAITING_CONTAINER', () => {
            signalRConnection.invoke('@AppUtilities.RELOAD_AWAITING_CONTAINER_METHOD', GetOrders());
        });

        signalRConnection.on('@AppUtilities.LOAD_AWAITING_CONTAINER', (pOrders) => {
            MountContainer(pOrders, '@AppUtilities.AWAITING_CONTAINER');
        });

        function GetOrders() {
            let $commands = document.querySelectorAll('.command');
            let $orders = [];

            if ($commands) {
                $commands.forEach(cmd => {
                    let $orderid = cmd.dataset.orderid;
                    $orders.push($orderid);
                });
            }

            return $orders || null;
        }

        function ToPreparingByClick(e) {
            ApplyStyle(e, '@EOrderCommand.Sent');
            ToPreparing(e, '@EOrderCommand.Sent');
        }

        function ToFinishedByClick(e) {
            ApplyStyle(e, '@EOrderCommand.Sent');
            ToFinished(e, '@EOrderCommand.Sent');
        }

        function ApplyStyle(e, pCommand) {
            let $this = e;
            let $quote = document.getElementById(`tck${$this.dataset.orderid}`);
            $quote.classList.add(`${(pCommand === '@EOrderCommand.Sent' ? 'sent' : 'dragged')}`);
        }

        function ToPreparing(e, pCommand) {
            let $this = e;
            let $orderId = $this.dataset.orderid;

            signalRConnection.invoke('@AppUtilities.FROM_AWAITING_TO_PREPARING_METHOD', GetOrders(), $orderId, pCommand);

            signalRConnection.on('@AppUtilities.LOAD_PREPARING_CONTAINER', (pOrders) => {
                MountContainer(pOrders, '@AppUtilities.PREPARING_CONTAINER');
            });
        }

        function ToFinished(e, pCommand) {
            let $this = e;
            let $orderId = $this.dataset.orderid;

            signalRConnection.invoke('@AppUtilities.FROM_PREPARING_TO_READY_METHOD', GetOrders(), $orderId, pCommand);

            signalRConnection.on('@AppUtilities.LOAD_READY_CONTAINER', (pOrders) => {
                MountContainer(pOrders, '@AppUtilities.READY_CONTAINER');
            });
        }

        function MountContainer(pOrders, baseContainer) {
            let $container = document.getElementById(baseContainer);
            let $textHtml = '';

            Array.from(pOrders).forEach(order => {
                $textHtml += order.ticketLayout;
            });

            $container.innerHTML = $textHtml;
        }

    </script>
}

